.sections{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 30px;
    gap: 30px;
}
.sections > div > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    position: relative;
    font-size: 50px;
    transition: .5s;
    height: 100%;
    width: 100%;
}
.sections > div > a > h2{
    z-index: 1;
    font-weight: normal;
    width: 100%;
    background-color: rgba(18, 14, 12, 0.8);
    transition: .2s
}
.sections > div > a > p{
    z-index: 1;
    position: absolute;
    color: white;
    opacity: .0;
    border-radius: 5px;
    margin-top: 100px;
    transition: .2s;
    font-size: 20px;
    width: 90%;
    height: 90px;
}
.sections > div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    min-height: 500px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.sections > .sections_reviews{
    background-image: url(../../assets/img/reviews.jpg);
}
.sections > .sections_forum{
    background-image: url(../../assets/img/forum.jpg);
}

.sections > div:hover{
    cursor: pointer;
}
.sections > div > a:hover h2{
    padding-bottom: 80px;
}
.sections > div > a:hover p{
    opacity: 1;
}

@media(max-width: 910px){
    .sections > div{
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x: center;
        min-height: 200px;
    }
    .sections{
        display: flex;
        width: 100%;
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
    }
    .sections > div > a > h2{
        z-index: 1;
        font-weight: normal;
        width: 100%;
        height: 100%;
        background-color: rgba(18, 14, 12, 1);
        transition: .2s
    }
}