.messageCardsSec{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}
.messageCardsSec > h2{
    color: var(--third-color);
}

.messageCard{
    position: relative;
    height: auto;
    width: 100%;
    background-color: var(--third-color);
    margin: auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.messageDate{
    position: absolute;
    right: 30px;
}
