.contact_form{
    z-index: 1;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-top: 150px;
    max-width: auto;
    min-height: 460px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

h1{
    color: var(--third-color);
}

.denied{
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -90px;
    padding: 7px 7px 20px 7px;
    color: rgb(145, 50, 50);
    background-color: rgb(255, 126, 126);
    border: 2px solid rgb(145, 50, 50);
    border-radius: 5px;
    transition: .5s;
}
.sent{
    z-index: 0;
    display: block;
    position: absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -90px;
    padding: 7px 7px 20px 7px;
    color: rgb(15, 145, 0);
    background-color: rgb(0, 255, 128);
    border: 2px solid rgb(15, 145, 0);
    border-radius: 5px;
    transition: .5s;
}
.approved{
    z-index: 0;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    margin-top: 100px;
}

.input{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.input > label{
    height: 30px;
    color: var(--third-color);
}
.input > input{
    height: 30px;
    color: rgb(229, 229, 203);
    padding: 0 10px 0 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.input_subject input{
    color: black;
    width: 100%;
}

.input_email input{
    color: black;
    width: 100%;
}

.input_mensaje textarea{
    border: none;
    width: auto;
    height: auto;
    outline: none;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}

.button_contact{
    display: flex;
    justify-content: center;
    height: 30px;
    width: 100%;
}
.button_contact > input{
    border: none;
    height: 40px;
    width: 100%;
    background-color: var(--almost-black);
    color: rgb(229, 229, 203);
    transition: .3s;
    font-size: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
}
.button_contact > input:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.subject_email{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.loading{
    z-index: 2;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--secondary-color);
    border-radius: 5px;
}
.loading_svg {
    height: 80px;
    width: 80px;
}