.footer{
    z-index: 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    width: 100vw;
    margin-top: 80px;
    background-color: var(--black);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.footer_container{
    flex-direction: column;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.footer > .footer_container > img{
    margin-top: 20px;
    height: 100px;
}
hr{
    margin: 20px 0 20px 0;
    width: 100vw;
    border-color: var(--almost-black);
}
.footer > .footer_container > p{
    color: var(--third-color);
}

@media (max-width: 910px) {
    .footer {
        width: 100vw;
    }
} 