.signup_form{
    margin: 50px auto auto auto;
    width: 400px;
    height: 410px;
    position: relative;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px; */
    padding: 50px 30px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    /* justify-content: center; */
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.signup_form > h1{
    color: var(--third-color);
    text-align: center;
    top: 0;
}

.data_signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-top: 30px;
}

.data_signup > input{
    width: 100%;
    height: 35px;
    padding: 0 10px 0 10px;
    outline: none;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
}

.button_signup_form{
    padding: 10px 0;
    width: 100%;
    background-color: var(--black);
    color: rgb(229, 229, 203);
    transition: .3s;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 30px 0 30px 0;
}

.button_signup_form:hover{
    background-color: var(--almost-black);
    cursor: pointer;
}

.no_account_container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.no_account{
    color: rgb(0, 0, 0);
}
.no_account:hover{
    color: var(--almost-black);
}

.no_registered{
    display: none;
}

.registered{
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 410px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    gap: 30px;
    background-color: var(--secondary-color);
    justify-content: center;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    color: var(--third-color);
    padding: 50px 30px;
}
.registered_button{
    margin-top: 30px;
    padding: 10px 0;
    width: 40%;
    background-color: var(--almost-black);
    color: rgb(229, 229, 203);
    transition: .3s;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
    text-decoration: none;
}
.registered_button:hover{
    background-color: var(--primary-color);
    cursor: pointer;
}

.registered > h3{
    color: var(--almost-black);
}